<div class="row mx-auto my-5">
    <div class="card mx-auto my-auto" style="width: 18rem;">
        <div class="card-head h-50">
            <img class="card-img-top h-100" src="https://www.icr-evolution.com/wp-content/uploads/2017/10/people.jpg"
                alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">Empleados</h5>
            <div class="btn-group-vertical btn-block">
                <a href="/empleado/agregar" class="btn btn-primary">Agregar Empleado</a>
                <a href="/empleado/agregar/empleo" class="btn btn-primary">Asignar Empleo</a>
                <a href="/empleado/agregar/turno" class="btn btn-primary">Asignar Turno</a>
                <a href="/empleado/agregar/salud" class="btn btn-primary">Agregar Condicion de Salud</a>
                <a href="/empleado/reunion/agregar" class="btn btn-primary">Agregar Reunion</a>
                <a href="/empleado/detalle/agregar" class="btn btn-primary">Agregar Detalle</a>
                <a href="/empleado" class="btn btn-primary">Lista de empleados</a>
                <a href="/empleado/salud" class="btn btn-primary">Lista de condiciones de salud</a>
            </div>
        </div>
    </div>
    <div class="card mx-auto my-2" style="width: 18rem;">
        <div class="card-head h-50">
            <img class="card-img-top h-100" src="https://cdn.foodandwineespanol.com/2018/02/VajillaPujol2.jpg"
                alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">Catalogo</h5>
            <div class="btn-group-vertical btn-block">
                <a href="/catalogo" class="btn btn-primary">Entrar</a>
            </div>
        </div>
    </div>
    <div class="card mx-auto my-2" style="width: 18rem;">
        <div class="card-head h-50">
            <img class="card-img-top h-100"
                src="https://i0.wp.com/vendiendo.co/blogs/wp-content/uploads/2016/10/objetivos-de-ventas-con-vendiendo-co-sistema-pos-barranquilla.jpg?ssl=1"
                alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">Ventas</h5>
            <div class="btn-group-vertical btn-block">
                <a href="#" class="btn btn-primary">Agregar</a>
                <a href="#" class="btn btn-primary">Modificar</a>
                <a href="#" class="btn btn-primary">Eliminar</a>
                <a href="#" class="btn btn-primary">Lista</a>
            </div>
        </div>
    </div>
</div>