<div class="label text-center my-2 display-1">AGREGAR REUNION</div>
<div class="row mx-auto">
    <div class="card mx-auto mt-2" style="width: 40rem;">
        <div class="card-body">
            <h5 class="text-center">DATOS DE LA REUNION</h5>
            <hr>
            <form action="/empleado/reunion/agregar" method="POST">

                <div class="form-group">
                    <label>DI Supervisor</label>
                    <select class="custom-select" id="inlineFormCustomSelect" name="di">
                        {{#each emps}}
                        <option value={{di}}>{{di}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="form-group">
                    <label>Minuta</label>
                    <textarea class="form-control" name="minuta" rows="3" placeholder="Minuta"></textarea>
                </div>

                <button type="submit" class="btn btn-block btn-primary">Registrar</button>
            </form>

        </div>
    </div>
</div>