<div class="label text-center mt-2 mb-5 display-1">Reportes de empleados</div>
<div class="row mx-auto my-2">
    <div class="card mx-auto my-auto" style="width: 60rem;">
        <div class="card-body">
            <div class="btn-group-vertical btn-block">
                <a href="/reportes/empleados/exp" class="btn btn-primary">Expediente de empleados</a>
                <a href="/reportes/empleados/exp_det" class="btn btn-primary">Expediente detallado de empleados</a>
                <a href="/reportes/empleados/horneros" class="btn btn-primary">Control de horneros</a>
                <a href="/reportes/empleados/casis" class="btn btn-primary">Control de Asistencia</a>
            </div>
        </div>
    </div>
</div>