<div class="label text-center mt-2 mb-5 display-1">Reportes de ventas</div>
<div class="row mx-auto my-2">
    <div class="card mx-auto my-auto" style="width: 60rem;">
        <div class="card-body">
            
            <div class="btn-group-vertical btn-block">
                <a href="/reportes/ventas/contrato" class="btn btn-primary">Contratos vigentes</a>
                <a href="/reportes/ventas/pedido" class="btn btn-primary">Pedidos</a>
                <a href="/reportes/ventas/factura" class="btn btn-primary">Facturas</a>
            </div>
        </div>
    </div>
</div>