

    <div class="row mx-auto">
     <div class="card mx-auto my-2" style="width: 18rem;">
            <div class="card-head h-50">
             <img class="card-img-top h-100" src="http://elearningmasters.galileo.edu/wp-content/uploads/2018/08/01-3.jpg"
                alt="Card image cap">
         </div>   
         <div class="card-body">
              <h5 class="card-title">Color Motivo</h5>
             <div class="btn-group-vertical btn-block">
                <a href="/catalogo/agregarCM" class="btn btn-primary">Agregar</a>
                <a href="/catalogo/listaCM" class="btn btn-primary">Lista</a>
            </div>
        </div>
    </div>
    <div class="card mx-auto my-2" style="width: 18rem;">
        <div class="card-head h-50">
            <img class="card-img-top h-100" src="https://www.creavea.es/productos/81367-l/mini-molde-de-silicona-vajilla-7-cm-de-diametro-8-figuras-l.jpg"
                alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">Molde</h5>
            <div class="btn-group-vertical btn-block">
                <a href="/catalogo/agregarM" class="btn btn-primary">Agregar</a>
                <a href="/catalogo/listaM" class="btn btn-primary">Lista</a>
            </div>
        </div>
    </div>
    <div class="card mx-auto my-2" style="width: 18rem;">
        <div class="card-head h-50">
            <img class="card-img-top h-100" src="https://puntobiz.com.ar/data/img_cont/img_imagenes/img_gr/111658_71927.jpg"
                alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">Coleccion</h5>
            <div class="btn-group-vertical btn-block">
                <a href="/catalogo/agregarC" class="btn btn-primary">Agregar</a>
                <a href="/catalogo/listaC" class="btn btn-primary">Lista</a>
            </div>
        </div>
    </div>
    
</div>