

    <div class="row mx-auto">
     <div class="card mx-auto my-2" style="width: 18rem;">
            <div class="card-head h-50">
             <img class="card-img-top h-100" src="https://images-na.ssl-images-amazon.com/images/I/71oAds1LZcL._SY355_.jpg"
                alt="Card image cap">
         </div>   
         <div class="card-body">
              <h5 class="card-title">Juego</h5>
             <div class="btn-group-vertical btn-block">
                <a href="/catalogo/agregarJ" class="btn btn-primary">Agregar</a>
                <a href="/catalogo/lista" class="btn btn-primary">Lista</a>
            </div>
        </div>
    </div>
    <div class="card mx-auto my-2" style="width: 18rem;">
        <div class="card-head h-50">
            <img class="card-img-top h-100" src="https://www.modregohogar.com/225128-large_default/vajilla-porcelana-18-piezas-edurne.jpg"
                alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">Pieza</h5>
            <div class="btn-group-vertical btn-block">
                <a href="/catalogo/agregarP" class="btn btn-primary">Agregar Pieza</a>
                <a href="/catalogo/listaP" class="btn btn-primary">Lista</a>
                <a href="/catalogo/detalles" class="btn btn-primary">Detalles Pieza</a>
            </div>
        </div>
    </div>
    
</div>