<!-- Footer -->
<footer class="mastfoot mt-auto bg-dark">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-white">© 2019 Copyright:
    <a href="/"> ceramicaroyal.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->